# **Data Cleaning - Unemployment.xlsx - UnemploymentMedianIncome.csv**

# **Import Modules**

In [1]:
#### Import the libraries needed
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pathlib import Path
import os
import glob

import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)
warnings.filterwarnings('ignore')
%matplotlib notebook
%matplotlib inline

# **Set Environment**

In [2]:
import plotly.io as pio
pio.renderers.default = "vscode"

In [3]:
# Set up directory
working_directory = Path.cwd()
# src = working_directory.parents[1]
# data directory
raw_data_directory = working_directory / 'data' / 'raw'
processed_data_directory = working_directory / 'data' / 'processed'
final_data_directory = working_directory / 'data' / 'final'

In [4]:
# Set pd.options to add slide bars
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)

In [5]:
# Set default title color
plt.style.use('fivethirtyeight')

# set default plt figure size
plt.rcParams["figure.figsize"] = [10, 5]
# suptitle
plt.rcParams["figure.titlesize"] = 22
plt.rcParams["figure.titleweight"] = "bold"
plt.rcParams['text.color'] = '#333333'
# title
plt.rcParams["axes.titlesize"] = 16
plt.rcParams["axes.titleweight"] = "bold"
plt.rcParams["axes.titlelocation"] = "left"
plt.rcParams['axes.titlecolor'] = '#333333'
# label
plt.rcParams["axes.labelsize"] = 12
plt.rcParams["axes.labelweight"] = "bold"
plt.rcParams['axes.labelcolor'] = '#333333'
# spines
plt.rcParams["axes.spines.bottom"] = True
plt.rcParams["axes.spines.left"] = True
plt.rcParams["axes.spines.top"] = False
plt.rcParams["axes.spines.right"] = False
# tick
plt.rcParams['xtick.color'] = "#333333"
plt.rcParams['ytick.color'] = "#333333"
# line width
plt.rcParams['lines.linewidth'] = 1

# **Load income.xls - est22ALL.csv**
* 3196 rows and 31 columns
* Aggregated by the country, state, and county level
* No null values
* 'Poverty Estimate, Age 0-4', '90% CI Lower Bound.7', '90% CI Upper Bound.7', 'Poverty Percent, Age 0-4', '90% CI Lower Bound.8', '90% CI Upper Bound.8' columns contains '.'

In [81]:
# Convert the 'date' columns to datetime data type
file = os.path.join(raw_data_directory, 'income.xls - est22ALL.csv')
income_df = pd.read_csv(file, skiprows=3)

In [82]:
income_df.shape

(3196, 31)

In [83]:
income_df.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,"Poverty Percent, Age 0-17",90% CI Lower Bound.3,90% CI Upper Bound.3,"Poverty Estimate, Age 5-17 in Families",90% CI Lower Bound.4,90% CI Upper Bound.4,"Poverty Percent, Age 5-17 in Families",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
0,0,0,US,United States,"40,951,625","40,691,315","41,211,935",12.6,12.5,12.7,"11,582,950","11,449,881","11,716,019",16.3,16.1,16.5,"8,176,725","8,075,849","8,277,601",15.5,15.3,15.7,"74,755","74,607","74,903","3,141,107","3,093,587","3,188,627",17.4,17.1,17.7
1,1,0,AL,Alabama,"798,469","780,933","816,005",16.2,15.8,16.6,"237,861","228,333","247,389",21.8,20.9,22.7,"165,972","157,610","174,334",20.6,19.6,21.6,"59,703","58,986","60,420","68,982","64,247","73,717",24.4,22.7,26.1
2,1,1,AL,Autauga County,"6,988","5,522","8,454",11.8,9.3,14.3,"2,151","1,521","2,781",15.7,11.1,20.3,"1,528","1,047","2,009",14.8,10.1,19.5,"70,148","62,906","77,390",.,.,.,.,.,.
3,1,3,AL,Baldwin County,"30,195","26,604","33,786",12.4,10.9,13.9,"8,093","6,701","9,485",16.1,13.3,18.9,"5,341","4,107","6,575",14.0,10.8,17.2,"71,704","66,180","77,228",.,.,.,.,.,.
4,1,5,AL,Barbour County,"5,860","4,715","7,005",26.7,21.5,31.9,"1,871","1,383","2,359",37.7,27.9,47.5,"1,244",860,"1,628",33.9,23.4,44.4,"41,151","36,595","45,707",.,.,.,.,.,.

In [9]:
income_df.tail()

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,"Poverty Percent, Age 0-17",90% CI Lower Bound.3,90% CI Upper Bound.3,"Poverty Estimate, Age 5-17 in Families",90% CI Lower Bound.4,90% CI Upper Bound.4,"Poverty Percent, Age 5-17 in Families",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6,"Poverty Estimate, Age 0-4",90% CI Lower Bound.7,90% CI Upper Bound.7,"Poverty Percent, Age 0-4",90% CI Lower Bound.8,90% CI Upper Bound.8
3191,56,37,WY,Sweetwater County,"5,039","4,230","5,848",12.4,10.4,14.4,"1,496","1,164","1,828",14.9,11.6,18.2,909,661,"1,157",11.7,8.5,14.9,"75,779","67,457","84,101",.,.,.,.,.,.
3192,56,39,WY,Teton County,"1,212",906,"1,518",5.2,3.9,6.5,208,136,280,5.3,3.5,7.1,134,85,183,4.6,2.9,6.3,"127,677","113,980","141,374",.,.,.,.,.,.
3193,56,41,WY,Uinta County,"2,207","1,671","2,743",10.8,8.2,13.4,726,487,965,13.2,8.8,17.6,480,313,647,11.2,7.3,15.1,"73,072","65,016","81,128",.,.,.,.,.,.
3194,56,43,WY,Washakie County,822,606,"1,038",10.9,8.0,13.8,219,142,296,14.3,9.2,19.4,158,99,217,13.6,8.5,18.7,"60,699","55,566","65,832",.,.,.,.,.,.
3195,56,45,WY,Weston County,725,537,913,11.5,8.5,14.5,183,121,245,14.3,9.5,19.1,123,79,167,12.6,8.1,17.1,"67,677","60,867","74,487",.,.,.,.,.,.

In [84]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3196 entries, 0 to 3195
Data columns (total 31 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   State FIPS Code                         3196 non-null   int64
 1   County FIPS Code                        3196 non-null   int64
 2   Postal Code                             3196 non-null   object
 3   Name                                    3196 non-null   object
 4   Poverty Estimate, All Ages              3196 non-null   object
 5   90% CI Lower Bound                      3196 non-null   object
 6   90% CI Upper Bound                      3196 non-null   object
 7   Poverty Percent, All Ages               3196 non-null   object
 8   90% CI Lower Bound.1                    3196 non-null   object
 9   90% CI Upper Bound.1                    3196 non-null   object
 10  Poverty Estimate, Age 0-17              3196 non-null   object
 11  90% CI Lower Bound.2                    3196 non-null   object
 12  90% CI Upper Bound.2                    3196 non-null   object
 13  Poverty Percent, Age 0-17               3196 non-null   object
 14  90% CI Lower Bound.3                    3196 non-null   object
 15  90% CI Upper Bound.3                    3196 non-null   object
 16  Poverty Estimate, Age 5-17 in Families  3196 non-null   object
 17  90% CI Lower Bound.4                    3196 non-null   object
 18  90% CI Upper Bound.4                    3196 non-null   object
 19  Poverty Percent, Age 5-17 in Families   3196 non-null   object
 20  90% CI Lower Bound.5                    3196 non-null   object
 21  90% CI Upper Bound.5                    3196 non-null   object
 22  Median Household Income                 3196 non-null   object
 23  90% CI Lower Bound.6                    3196 non-null   object
 24  90% CI Upper Bound.6                    3196 non-null   object
 25  Poverty Estimate, Age 0-4               3196 non-null   object
 26  90% CI Lower Bound.7                    3196 non-null   object
 27  90% CI Upper Bound.7                    3196 non-null   object
 28  Poverty Percent, Age 0-4                3196 non-null   object
 29  90% CI Lower Bound.8                    3196 non-null   object
 30  90% CI Upper Bound.8                    3196 non-null   object
dtypes: int64(2), object(29)
memory usage: 774.2+ KB

In [11]:
income_df.describe()

       State FIPS Code  County FIPS Code
count      3196.000000       3196.000000
mean         30.234043        102.183980
std          15.169124        107.494158
min           0.000000          0.000000
25%          18.000000         33.000000
50%          29.000000         77.000000
75%          45.000000        133.000000
max          56.000000        840.000000

In [12]:
income_df.describe(include='object').T

                                       count unique                top  freq
Postal Code                             3196     52                 TX   255
Name                                    3196   1933  Washington County    30
Poverty Estimate, All Ages              3196   2810                315     6
90% CI Lower Bound                      3196   2726                550     5
90% CI Upper Bound                      3196   2861                377     4
Poverty Percent, All Ages               3196    300               12.1    41
90% CI Lower Bound.1                    3196    253                8.5    41
90% CI Upper Bound.1                    3196    349               15.2    30
Poverty Estimate, Age 0-17              3196   2204                139     6
90% CI Lower Bound.2                    3196   1983                108     8
90% CI Upper Bound.2                    3196   2375                315     6
Poverty Percent, Age 0-17               3196    404               15.4    26
90% CI Lower Bound.3                    3196    320               10.3    37
90% CI Upper Bound.3                    3196    490               20.3    25
Poverty Estimate, Age 5-17 in Families  3196   1950                300     9
90% CI Lower Bound.4                    3196   1710                239    12
90% CI Upper Bound.4                    3196   2126                877     8
Poverty Percent, Age 5-17 in Families   3196    401               13.8    29
90% CI Lower Bound.5                    3196    309               10.3    33
90% CI Upper Bound.5                    3196    496               25.3    25
Median Household Income                 3196   3103             63,247     3
90% CI Lower Bound.6                    3196   3085             49,292     3
90% CI Upper Bound.6                    3196   3099             65,507     3
Poverty Estimate, Age 0-4               3196     53                  .  3144
90% CI Lower Bound.7                    3196     53                  .  3144
90% CI Upper Bound.7                    3196     53                  .  3144
Poverty Percent, Age 0-4                3196     48                  .  3144
90% CI Lower Bound.8                    3196     47                  .  3144
90% CI Upper Bound.8                    3196     44                  .  3144

## **Data Cleanup and Preparation**

* Remove ',' and '.', and convert from string to float data type

In [85]:
# Convert the datatype from object to float
object_columns = income_df.select_dtypes(include=['object']).columns.to_list()
# Remove 'Postal Code' and 'Name'
object_columns = [col for col in object_columns if col not in ['Postal Code', 'Name']]

In [86]:
# Remove "," and "." to convert string to number
for col in object_columns:
    income_df[col] = income_df[col].str.replace(",", "")
    income_df[col] = income_df[col].replace(".", np.nan)

income_df[object_columns] = income_df[object_columns].astype(float)

* Rename 'Postal Code' to 'State', 'Name' tp 'country'
* Remove " County" and " Parish"

In [87]:
# Rename 'Postal Code' to 'State', 'Name' tp 'country'
income_df.rename(columns={'Postal Code': 'State', 'Name': 'county'}, inplace=True)
# Extract only county
income_df['county'] = income_df['county'].str.replace(" County", "")
income_df['county'] = income_df['county'].str.replace(" Parish", "")

In [88]:
# Check missing values at the state level
income_df[income_df['County FIPS Code'] == 0].isna().sum().sum()

0

# **Missing Value Analysis**
* 27 out of 31 columns have at least missing value
* 6 out of 27 columns have more than 98% of missing values --> Remove

In [89]:
# Check null values
num_missing_value = income_df.isna().sum()
null_ratio = round(num_missing_value / income_df.shape[0] * 100, 2)
print("Missing value ratio (%)")
null_ratio

Missing value ratio (%)

State FIPS Code                            0.00
County FIPS Code                           0.00
State                                      0.00
county                                     0.00
Poverty Estimate, All Ages                 0.03
90% CI Lower Bound                         0.03
90% CI Upper Bound                         0.03
Poverty Percent, All Ages                  0.03
90% CI Lower Bound.1                       0.03
90% CI Upper Bound.1                       0.03
Poverty Estimate, Age 0-17                 0.03
90% CI Lower Bound.2                       0.03
90% CI Upper Bound.2                       0.03
Poverty Percent, Age 0-17                  0.03
90% CI Lower Bound.3                       0.03
90% CI Upper Bound.3                       0.03
Poverty Estimate, Age 5-17 in Families     0.03
90% CI Lower Bound.4                       0.03
90% CI Upper Bound.4                       0.03
Poverty Percent, Age 5-17 in Families      0.03
90% CI Lower Bound.5                       0.03
90% CI Upper Bound.5                       0.03
Median Household Income                    0.03
90% CI Lower Bound.6                       0.03
90% CI Upper Bound.6                       0.03
Poverty Estimate, Age 0-4                 98.37
90% CI Lower Bound.7                      98.37
90% CI Upper Bound.7                      98.37
Poverty Percent, Age 0-4                  98.37
90% CI Lower Bound.8                      98.37
90% CI Upper Bound.8                      98.37
dtype: float64

* Remove columns that has more than 60% of null

In [90]:
# Remove columns that has more than 60% of null 
cols_to_remove = null_ratio[null_ratio > 60].index.to_list()
income_df.drop(cols_to_remove, axis=1, inplace=True)

* Remove a row that has all null values in income-related data

In [94]:
# Check null values at the row level
income_df[income_df.isna().sum(axis=1) > 0]

,State FIPS Code,County FIPS Code,State,county,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,"Poverty Percent, Age 0-17",90% CI Lower Bound.3,90% CI Upper Bound.3,"Poverty Estimate, Age 5-17 in Families",90% CI Lower Bound.4,90% CI Upper Bound.4,"Poverty Percent, Age 5-17 in Families",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
563,15,5,HI,Kalawao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# Remove the row
idx = income_df[income_df.isna().sum(axis=1) > 0].index.values
income_df.drop(idx, axis=0, inplace=True)

In [101]:
# Check missing values at the county level
income_df[income_df['County FIPS Code'] != 0].isna().sum().sum()

0

In [102]:
income_df.head()

,State FIPS Code,County FIPS Code,State,county,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,"Poverty Percent, Age 0-17",90% CI Lower Bound.3,90% CI Upper Bound.3,"Poverty Estimate, Age 5-17 in Families",90% CI Lower Bound.4,90% CI Upper Bound.4,"Poverty Percent, Age 5-17 in Families",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
0,0,0,US,United States,40951625.0,40691315.0,41211935.0,12.6,12.5,12.7,11582950.0,11449881.0,11716019.0,16.3,16.1,16.5,8176725.0,8075849.0,8277601.0,15.5,15.3,15.7,74755.0,74607.0,74903.0
1,1,0,AL,Alabama,798469.0,780933.0,816005.0,16.2,15.8,16.6,237861.0,228333.0,247389.0,21.8,20.9,22.7,165972.0,157610.0,174334.0,20.6,19.6,21.6,59703.0,58986.0,60420.0
2,1,1,AL,Autauga,6988.0,5522.0,8454.0,11.8,9.3,14.3,2151.0,1521.0,2781.0,15.7,11.1,20.3,1528.0,1047.0,2009.0,14.8,10.1,19.5,70148.0,62906.0,77390.0
3,1,3,AL,Baldwin,30195.0,26604.0,33786.0,12.4,10.9,13.9,8093.0,6701.0,9485.0,16.1,13.3,18.9,5341.0,4107.0,6575.0,14.0,10.8,17.2,71704.0,66180.0,77228.0
4,1,5,AL,Barbour,5860.0,4715.0,7005.0,26.7,21.5,31.9,1871.0,1383.0,2359.0,37.7,27.9,47.5,1244.0,860.0,1628.0,33.9,23.4,44.4,41151.0,36595.0,45707.0

## **Save the Dataframe as CSV**

In [103]:
file = os.path.join(processed_data_directory, 'cleaned_income.csv')
income_df.to_csv(file, index=False)

## **Verify cleaned_income.csv**

In [104]:
file = os.path.join(processed_data_directory, 'cleaned_income.csv')
income_df = pd.read_csv(file)
income_df.head()

,State FIPS Code,County FIPS Code,State,county,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,"Poverty Percent, Age 0-17",90% CI Lower Bound.3,90% CI Upper Bound.3,"Poverty Estimate, Age 5-17 in Families",90% CI Lower Bound.4,90% CI Upper Bound.4,"Poverty Percent, Age 5-17 in Families",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
0,0,0,US,United States,40951625.0,40691315.0,41211935.0,12.6,12.5,12.7,11582950.0,11449881.0,11716019.0,16.3,16.1,16.5,8176725.0,8075849.0,8277601.0,15.5,15.3,15.7,74755.0,74607.0,74903.0
1,1,0,AL,Alabama,798469.0,780933.0,816005.0,16.2,15.8,16.6,237861.0,228333.0,247389.0,21.8,20.9,22.7,165972.0,157610.0,174334.0,20.6,19.6,21.6,59703.0,58986.0,60420.0
2,1,1,AL,Autauga,6988.0,5522.0,8454.0,11.8,9.3,14.3,2151.0,1521.0,2781.0,15.7,11.1,20.3,1528.0,1047.0,2009.0,14.8,10.1,19.5,70148.0,62906.0,77390.0
3,1,3,AL,Baldwin,30195.0,26604.0,33786.0,12.4,10.9,13.9,8093.0,6701.0,9485.0,16.1,13.3,18.9,5341.0,4107.0,6575.0,14.0,10.8,17.2,71704.0,66180.0,77228.0
4,1,5,AL,Barbour,5860.0,4715.0,7005.0,26.7,21.5,31.9,1871.0,1383.0,2359.0,37.7,27.9,47.5,1244.0,860.0,1628.0,33.9,23.4,44.4,41151.0,36595.0,45707.0