# **Data Cleaning - Unemployment.xlsx - UnemploymentMedianIncome.csv**

# **Import Modules**

In [39]:
#### Import the libraries needed
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pathlib import Path
import os
import glob

import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)
warnings.filterwarnings('ignore')
%matplotlib notebook
%matplotlib inline

# **Set Environment**

In [40]:
import plotly.io as pio
pio.renderers.default = "vscode"

In [41]:
# Set up directory
working_directory = Path.cwd()
# src = working_directory.parents[1]
# data directory
raw_data_directory = working_directory / 'data' / 'raw'
processed_data_directory = working_directory / 'data' / 'processed'
final_data_directory = working_directory / 'data' / 'final'

In [42]:
# Set pd.options to add slide bars
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)

In [43]:
# Set default title color
plt.style.use('fivethirtyeight')

# set default plt figure size
plt.rcParams["figure.figsize"] = [10, 5]
# suptitle
plt.rcParams["figure.titlesize"] = 22
plt.rcParams["figure.titleweight"] = "bold"
plt.rcParams['text.color'] = '#333333'
# title
plt.rcParams["axes.titlesize"] = 16
plt.rcParams["axes.titleweight"] = "bold"
plt.rcParams["axes.titlelocation"] = "left"
plt.rcParams['axes.titlecolor'] = '#333333'
# label
plt.rcParams["axes.labelsize"] = 12
plt.rcParams["axes.labelweight"] = "bold"
plt.rcParams['axes.labelcolor'] = '#333333'
# spines
plt.rcParams["axes.spines.bottom"] = True
plt.rcParams["axes.spines.left"] = True
plt.rcParams["axes.spines.top"] = False
plt.rcParams["axes.spines.right"] = False
# tick
plt.rcParams['xtick.color'] = "#333333"
plt.rcParams['ytick.color'] = "#333333"
# line width
plt.rcParams['lines.linewidth'] = 1

# **Load Unemployment.xlsx - UnemploymentMedianIncome.csv**
* 3277 rows and 100 columns
* Aggregated by the country(1), state(52), and county level
* Remove ',' and convert from string to float data type
* Dataset includes Port Rico --> delete
* Create a variable 'is_county'
* Remove "County" and the state abbrebiation Ex. Autauga County, AL --> Autauga
* Change the column name from "Area_Name" to "county"
* 149 rows contains at least on NaN
* Delete unemployment-related data before 2014
* Data Dictionary: UrbanInfluenceCodes2013.xls, Ruralurbancontinuumcodes2023

In [93]:
# Convert the 'date' columns to datetime data type
file = os.path.join(raw_data_directory, 'Unemployment.xlsx - UnemploymentMedianIncome.csv')
unemployment_df = pd.read_csv(file, skiprows=4)

In [94]:
unemployment_df.shape

(3277, 100)

In [95]:
unemployment_df.head()

,FIPS_Code,State,Area_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_Code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022,Median_Household_Income_2021,Med_HH_Income_Percent_of_State_Total_2021
0,0,US,United States,NaN,NaN,NaN,"142,601,576","136,904,853","5,696,723",4.0,"143,786,537","136,977,996","6,808,541",4.7,"144,839,298","136,455,783","8,383,515",5.8,"145,660,094","136,944,522","8,715,572",6.0,"146,724,795","138,613,904","8,110,891",5.5,"148,597,241","141,000,912","7,596,329",5.1,"150,707,773","143,729,350","6,978,423",4.6,"152,191,050","145,156,133","7,034,917",4.6,"153,761,037","144,860,349","8,900,688",5.8,"153,825,454","139,594,699","14,230,755",9.3,"154,254,521","139,393,814","14,860,707",9.6,"154,520,678","140,688,861","13,831,817",9.0,"155,038,121","142,527,201","12,510,920",8.1,"155,362,278","143,905,037","11,457,241",7.4,"155,936,159","146,318,952","9,617,207",6.2,"156,840,649","148,554,918","8,285,731",5.3,"158,674,951","150,949,349","7,725,602",4.9,"160,744,592","153,744,181","7,000,411",4.4,"162,039,448","155,727,509","6,311,939",3.9,"163,815,888","157,805,898","6,009,990",3.7,"161,483,724","148,453,335","13,030,389",8.1,"162,229,903","153,544,980","8,684,923",5.4,"164,781,642","158,766,998","6,014,644",3.7,"69,717",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,147,173","2,047,731","99,442",4.6,"2,128,027","2,017,467","110,560",5.2,"2,112,621","1,987,633","124,988",5.9,"2,128,668","2,001,568","127,100",6.0,"2,138,306","2,018,783","119,523",5.6,"2,140,356","2,045,234","95,122",4.4,"2,170,007","2,083,207","86,800",4.0,"2,180,448","2,092,030","88,418",4.1,"2,176,854","2,049,579","127,275",5.8,"2,156,593","1,938,784","217,809",10.1,"2,197,028","1,968,824","228,204",10.4,"2,202,337","1,991,379","210,958",9.6,"2,178,508","2,000,848","177,660",8.2,"2,172,102","2,012,828","159,274",7.3,"2,164,715","2,018,705","146,010",6.7,"2,152,295","2,020,443","131,852",6.1,"2,155,729","2,029,157","126,572",5.9,"2,203,458","2,103,873","99,585",4.5,"2,240,109","2,152,270","87,839",3.9,"2,272,935","2,200,437","72,498",3.2,"2,269,672","2,124,409","145,263",6.4,"2,259,349","2,183,330","76,019",3.4,"2,286,028","2,226,670","59,358",2.6,"53,990",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,861","20,971",890,4.1,"22,081","21,166",915,4.1,"22,161","21,096","1,065",4.8,"22,695","21,557","1,138",5.0,"23,241","22,146","1,095",4.7,"23,887","22,986",901,3.8,"24,425","23,619",806,3.3,"24,434","23,610",824,3.4,"24,687","23,376","1,311",5.3,"24,660","22,464","2,196",8.9,"25,749","23,481","2,268",8.8,"25,845","23,688","2,157",8.3,"25,762","23,932","1,830",7.1,"25,783","24,155","1,628",6.3,"25,639","24,150","1,489",5.8,"25,541","24,206","1,335",5.2,"25,710","24,395","1,315",5.1,"26,269","25,224","1,045",4.0,"26,471","25,515",956,3.6,"26,696","25,927",769,2.9,"26,425","25,023","1,402",5.3,"26,545","25,809",736,2.8,"26,789","26,181",608,2.3,"66,444",123.1
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,979","67,370","2,609",3.7,"69,569","66,545","3,024",4.3,"69,379","65,881","3,498",5.0,"72,598","69,010","3,588",4.9,"74,843","71,061","3,782",5.1,"76,608","73,581","3,027",4.0,"79,806","77,263","2,543",3.2,"82,829","80,213","2,616",3.2,"83,205","79,222","3,983",4.8,"82,314","74,950","7,364",8.9,"83,551","75,283","8,268",9.9,"85,077","77,459","7,618",9.0,"84,507","77,973","6,534",7.7,"85,206","79,466","5,740",6.7,"86,546","81,265","5,281",6.1,"87,493","82,619","4,874",5.6,"89,778","84,972","4,806",5.4,"93,152","89,286","3,866",4.2,"96,235","92,734","3,501",3.6,"98,965","96,069","2,896",2.9,"98,979","92,893","6,086",6.1,"99,953","97,034","2,919",2.9,"102,849","100,432","2,417",2.4,"65,658",121.6
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,449","10,812",637,5.6,"11,324","10,468",856,7.6,"11,006","10,154",852,7.7,"11,019","10,241",778,7.1,"10,639","9,884",755,7.1,"10,730","10,114",616,5.7,"10,713","10,110",603,5.6,"10,363","9,698",665,6.4,"10,175","9,249",926,9.1,"9,944","8,635","1,309",13.2,"10,219","8,978","1,241",12.1,"9,843","8,716","1,127",11.4,"9,377","8,273","1,104",11.8,"9,096","8,152",944,10.4,"8,859","7,930",929,10.5,"8,590","7,823",767,8.9,"8,334","7,638",696,8.4,"8,415","7,914",501,6.0,"8,505","8,068",437,5.1,"8,641","8,294",347,4.0,"8,684","8,017",667,7.7,"8,280","7,821",459,5.5,"8,241","7,906",335,4.1,"38,649",71.6

In [96]:
unemployment_df.tail()

,FIPS_Code,State,Area_Name,Rural_Urban_Continuum_Code_2013,Urban_Influence_Code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,Civilian_labor_force_2001,Employed_2001,Unemployed_2001,Unemployment_rate_2001,Civilian_labor_force_2002,Employed_2002,Unemployed_2002,Unemployment_rate_2002,Civilian_labor_force_2003,Employed_2003,Unemployed_2003,Unemployment_rate_2003,Civilian_labor_force_2004,Employed_2004,Unemployed_2004,Unemployment_rate_2004,Civilian_labor_force_2005,Employed_2005,Unemployed_2005,Unemployment_rate_2005,Civilian_labor_force_2006,Employed_2006,Unemployed_2006,Unemployment_rate_2006,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,Civilian_labor_force_2008,Employed_2008,Unemployed_2008,Unemployment_rate_2008,Civilian_labor_force_2009,Employed_2009,Unemployed_2009,Unemployment_rate_2009,Civilian_labor_force_2010,Employed_2010,Unemployed_2010,Unemployment_rate_2010,Civilian_labor_force_2011,Employed_2011,Unemployed_2011,Unemployment_rate_2011,Civilian_labor_force_2012,Employed_2012,Unemployed_2012,Unemployment_rate_2012,Civilian_labor_force_2013,Employed_2013,Unemployed_2013,Unemployment_rate_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022,Median_Household_Income_2021,Med_HH_Income_Percent_of_State_Total_2021
3272,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,"19,805","17,607","2,198",11.1,"19,554","17,138","2,416",12.4,"20,219","17,614","2,605",12.9,"20,789","18,031","2,758",13.3,"20,607","18,218","2,389",11.6,"20,930","18,296","2,634",12.6,"21,654","19,071","2,583",11.9,"21,115","18,445","2,670",12.6,"20,372","17,693","2,679",13.2,"19,955","16,433","3,522",17.6,"16,228","12,856","3,372",20.8,"15,293","12,430","2,863",18.7,"14,796","12,435","2,361",16.0,"14,601","12,198","2,403",16.5,"14,157","11,869","2,288",16.2,"13,820","11,921","1,899",13.7,"13,733","11,829","1,904",13.9,"13,414","11,746","1,668",12.4,"13,159","11,787","1,372",10.4,"13,174","11,912","1,262",9.6,NaN,NaN,NaN,NaN,"14,172","12,748","1,424",10.0,"14,232","13,180","1,052",7.4,NaN,NaN
3273,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,"2,441","2,120",321,13.2,"2,323","1,999",324,13.9,"2,625","2,159",466,17.8,"2,664","2,234",430,16.1,"2,554","2,237",317,12.4,"3,062","2,725",337,11.0,"3,300","2,992",308,9.3,"3,317","2,955",362,10.9,"3,214","2,811",403,12.5,"3,124","2,425",699,22.4,"3,401","2,767",634,18.6,"3,174","2,671",503,15.8,"3,043","2,651",392,12.9,"3,080","2,589",491,15.9,"3,152","2,710",442,14.0,"3,194","2,832",362,11.3,"3,260","2,914",346,10.6,"3,027","2,589",438,14.5,"2,726","2,276",450,16.5,"2,551","2,368",183,7.2,NaN,NaN,NaN,NaN,"2,804","2,469",335,11.9,"2,742","2,554",188,6.9,NaN,NaN
3274,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,"7,636","6,648",988,12.9,"7,564","6,546","1,018",13.5,"8,100","6,820","1,280",15.8,"8,393","7,134","1,259",15.0,"8,622","7,522","1,100",12.8,"9,506","8,112","1,394",14.7,"9,681","8,417","1,264",13.1,"9,479","8,223","1,256",13.3,"9,324","8,036","1,288",13.8,"9,518","7,628","1,890",19.9,"8,841","6,892","1,949",22.0,"8,485","6,681","1,804",21.3,"8,308","6,584","1,724",20.8,"8,184","6,416","1,768",21.6,"7,920","6,196","1,724",21.8,"7,802","6,262","1,540",19.7,"7,815","6,235","1,580",20.2,"7,557","6,090","1,467",19.4,"7,335","6,174","1,161",15.8,"7,494","6,309","1,185",15.8,NaN,NaN,NaN,NaN,"7,697","6,796",901,11.7,"7,790","6,982",808,10.4,NaN,NaN
3275,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,"10,613","9,005","1,608",15.2,"10,751","8,746","2,005",18.6,"11,187","8,961","2,226",19.9,"11,393","9,162","2,231",19.6,"11,170","9,244","1,926",17.2,"11,247","9,272","1,975",17.6,"11,562","9,647","1,915",16.6,"11,425","9,348","2,077",18.2,"10,904","8,931","1,973",18.1,"10,816","8,302","2,514",23.2,"11,003","8,210","2,793",25.4,"10,630","7,924","2,706",25.5,"10,302","7,903","2,399",23.3,"10,169","7,742","2,427",23.9,"9,642","7,546","2,096",21.7,"9,198","7,593","1,605",17.4,"9,081","7,545","1,536",16.9,"9,000","7,512","1,488",16.5,"8,791","7,534","1,257",14.3,"8,841","7,686","1,155",13.1,NaN,NaN,NaN,NaN,"9,156","8,216",940,10.3,"9,278","8,504",774,8.3,NaN,NaN
3276,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,"14,664","12,871","1,793",12.2,"14,416","12,475","1,941",13.5,"15,116","13,006","2,110",14.0,"15,161","12,974","2,187",14.4,"15,446","13,493","1,953",12.6,"16,695","14,380","2,315",13.9,"16,747","14,658","2,089",12.5,"16,635","14,451","2,184",13.1,"16,555","14,394","2,161",13.1,"15,826","13,318","2,508",15.8,"12,098","9,514","2,584",21.4,"11,760","9,263","2,497",21.2,"11,531","9,140","2,391",20.7,"11,350","8,959","2,391",21.1,"11,031","8,665","2,366",21.4,"10,748","8,717","2,031",18.9,"10,735","8,719","2,016",18.8,"10,160","8,409","1,751",17.2,"9,748","8,315","1,433",14.7,"9,851","8,409","1,442",14.6,NaN,NaN,NaN,NaN,"10,205","9,009","1,196",11.7,"10,353","9,282","1,071",10.3,NaN,NaN

In [97]:
unemployment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3277 entries, 0 to 3276
Data columns (total 100 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   FIPS_Code                                  3277 non-null   int64
 1   State                                      3277 non-null   object
 2   Area_Name                                  3277 non-null   object
 3   Rural_Urban_Continuum_Code_2013            3219 non-null   float64
 4   Urban_Influence_Code_2013                  3219 non-null   float64
 5   Metro_2013                                 3224 non-null   float64
 6   Civilian_labor_force_2000                  3270 non-null   object
 7   Employed_2000                              3270 non-null   object
 8   Unemployed_2000                            3270 non-null   object
 9   Unemployment_rate_2000                     3270 non-null   float64
 10  Civilian_labor_force_2001                  3270 non-null   object
 11  Employed_2001                              3270 non-null   object
 12  Unemployed_2001                            3270 non-null   object
 13  Unemployment_rate_2001                     3270 non-null   float64
 14  Civilian_labor_force_2002                  3270 non-null   object
 15  Employed_2002                              3270 non-null   object
 16  Unemployed_2002                            3270 non-null   object
 17  Unemployment_rate_2002                     3270 non-null   float64
 18  Civilian_labor_force_2003                  3270 non-null   object
 19  Employed_2003                              3270 non-null   object
 20  Unemployed_2003                            3270 non-null   object
 21  Unemployment_rate_2003                     3270 non-null   float64
 22  Civilian_labor_force_2004                  3270 non-null   object
 23  Employed_2004                              3270 non-null   object
 24  Unemployed_2004                            3270 non-null   object
 25  Unemployment_rate_2004                     3270 non-null   float64
 26  Civilian_labor_force_2005                  3263 non-null   object
 27  Employed_2005                              3263 non-null   object
 28  Unemployed_2005                            3263 non-null   object
 29  Unemployment_rate_2005                     3263 non-null   float64
 30  Civilian_labor_force_2006                  3263 non-null   object
 31  Employed_2006                              3263 non-null   object
 32  Unemployed_2006                            3263 non-null   object
 33  Unemployment_rate_2006                     3263 non-null   float64
 34  Civilian_labor_force_2007                  3270 non-null   object
 35  Employed_2007                              3270 non-null   object
 36  Unemployed_2007                            3270 non-null   object
 37  Unemployment_rate_2007                     3270 non-null   float64
 38  Civilian_labor_force_2008                  3270 non-null   object
 39  Employed_2008                              3270 non-null   object
 40  Unemployed_2008                            3270 non-null   object
 41  Unemployment_rate_2008                     3270 non-null   float64
 42  Civilian_labor_force_2009                  3270 non-null   object
 43  Employed_2009                              3270 non-null   object
 44  Unemployed_2009                            3270 non-null   object
 45  Unemployment_rate_2009                     3270 non-null   float64
 46  Civilian_labor_force_2010                  3272 non-null   object
 47  Employed_2010                              3272 non-null   object
 48  Unemployed_2010                            3272 non-null   object
 49  Unemployment_rate_2010                     3272 non-null   float64
 50  Civilian_labor_force_2011                  3272 non-null   object
 51  Employed_2011                              3272 non-null   object
 52  Unemployed_2011                            3272 non-null   object
 53  Unemployment_rate_2011                     3272 non-null   float64
 54  Civilian_labor_force_2012                  3272 non-null   object
 55  Employed_2012                              3272 non-null   object
 56  Unemployed_2012                            3272 non-null   object
 57  Unemployment_rate_2012                     3272 non-null   float64
 58  Civilian_labor_force_2013                  3272 non-null   object
 59  Employed_2013                              3272 non-null   object
 60  Unemployed_2013                            3272 non-null   object
 61  Unemployment_rate_2013                     3272 non-null   float64
 62  Civilian_labor_force_2014                  3272 non-null   object
 63  Employed_2014                              3272 non-null   object
 64  Unemployed_2014                            3272 non-null   object
 65  Unemployment_rate_2014                     3272 non-null   float64
 66  Civilian_labor_force_2015                  3272 non-null   object
 67  Employed_2015                              3272 non-null   object
 68  Unemployed_2015                            3272 non-null   object
 69  Unemployment_rate_2015                     3272 non-null   float64
 70  Civilian_labor_force_2016                  3272 non-null   object
 71  Employed_2016                              3272 non-null   object
 72  Unemployed_2016                            3272 non-null   object
 73  Unemployment_rate_2016                     3272 non-null   float64
 74  Civilian_labor_force_2017                  3272 non-null   object
 75  Employed_2017                              3272 non-null   object
 76  Unemployed_2017                            3272 non-null   object
 77  Unemployment_rate_2017                     3272 non-null   float64
 78  Civilian_labor_force_2018                  3272 non-null   object
 79  Employed_2018                              3272 non-null   object
 80  Unemployed_2018                            3272 non-null   object
 81  Unemployment_rate_2018                     3272 non-null   float64
 82  Civilian_labor_force_2019                  3272 non-null   object
 83  Employed_2019                              3272 non-null   object
 84  Unemployed_2019                            3272 non-null   object
 85  Unemployment_rate_2019                     3272 non-null   float64
 86  Civilian_labor_force_2020                  3194 non-null   object
 87  Employed_2020                              3194 non-null   object
 88  Unemployed_2020                            3194 non-null   object
 89  Unemployment_rate_2020                     3194 non-null   float64
 90  Civilian_labor_force_2021                  3273 non-null   object
 91  Employed_2021                              3273 non-null   object
 92  Unemployed_2021                            3273 non-null   object
 93  Unemployment_rate_2021                     3273 non-null   float64
 94  Civilian_labor_force_2022                  3273 non-null   object
 95  Employed_2022                              3273 non-null   object
 96  Unemployed_2022                            3273 non-null   object
 97  Unemployment_rate_2022                     3273 non-null   float64
 98  Median_Household_Income_2021               3194 non-null   object
 99  Med_HH_Income_Percent_of_State_Total_2021  3193 non-null   float64
dtypes: float64(27), int64(1), object(72)
memory usage: 2.5+ MB

In [98]:
# The number of rows that contains NaN at least one
unemployment_df.isna().any(axis=1).sum()

149

In [99]:
unemployment_df.isna().sum()

FIPS_Code                                     0
State                                         0
Area_Name                                     0
Rural_Urban_Continuum_Code_2013              58
Urban_Influence_Code_2013                    58
Metro_2013                                   53
Civilian_labor_force_2000                     7
Employed_2000                                 7
Unemployed_2000                               7
Unemployment_rate_2000                        7
Civilian_labor_force_2001                     7
Employed_2001                                 7
Unemployed_2001                               7
Unemployment_rate_2001                        7
Civilian_labor_force_2002                     7
Employed_2002                                 7
Unemployed_2002                               7
Unemployment_rate_2002                        7
Civilian_labor_force_2003                     7
Employed_2003                                 7
Unemployed_2003                               7
Unemployment_rate_2003                        7
Civilian_labor_force_2004                     7
Employed_2004                                 7
Unemployed_2004                               7
Unemployment_rate_2004                        7
Civilian_labor_force_2005                    14
Employed_2005                                14
Unemployed_2005                              14
Unemployment_rate_2005                       14
Civilian_labor_force_2006                    14
Employed_2006                                14
Unemployed_2006                              14
Unemployment_rate_2006                       14
Civilian_labor_force_2007                     7
Employed_2007                                 7
Unemployed_2007                               7
Unemployment_rate_2007                        7
Civilian_labor_force_2008                     7
Employed_2008                                 7
Unemployed_2008                               7
Unemployment_rate_2008                        7
Civilian_labor_force_2009                     7
Employed_2009                                 7
Unemployed_2009                               7
Unemployment_rate_2009                        7
Civilian_labor_force_2010                     5
Employed_2010                                 5
Unemployed_2010                               5
Unemployment_rate_2010                        5
Civilian_labor_force_2011                     5
Employed_2011                                 5
Unemployed_2011                               5
Unemployment_rate_2011                        5
Civilian_labor_force_2012                     5
Employed_2012                                 5
Unemployed_2012                               5
Unemployment_rate_2012                        5
Civilian_labor_force_2013                     5
Employed_2013                                 5
Unemployed_2013                               5
Unemployment_rate_2013                        5
Civilian_labor_force_2014                     5
Employed_2014                                 5
Unemployed_2014                               5
Unemployment_rate_2014                        5
Civilian_labor_force_2015                     5
Employed_2015                                 5
Unemployed_2015                               5
Unemployment_rate_2015                        5
Civilian_labor_force_2016                     5
Employed_2016                                 5
Unemployed_2016                               5
Unemployment_rate_2016                        5
Civilian_labor_force_2017                     5
Employed_2017                                 5
Unemployed_2017                               5
Unemployment_rate_2017                        5
Civilian_labor_force_2018                     5
Employed_2018                                 5
Unemployed_2018                               5
Unemployment_rate_2018                        5
Civilian_labor_force_2019                     5
Employed_2019                                 5
Unemployed_2019                               5
Unemployment_rate_2019                        5
Civilian_labor_force_2020                    83
Employed_2020                                83
Unemployed_2020                              83
Unemployment_rate_2020                       83
Civilian_labor_force_2021                     4
Employed_2021                                 4
Unemployed_2021                               4
Unemployment_rate_2021                        4
Civilian_labor_force_2022                     4
Employed_2022                                 4
Unemployed_2022                               4
Unemployment_rate_2022                        4
Median_Household_Income_2021                 83
Med_HH_Income_Percent_of_State_Total_2021    84
dtype: int64

In [100]:
unemployment_df.describe().T

,count,mean,std,min,25%,50%,75%,max
FIPS_Code,3277.0,31318.964297,16332.539506,0.0,19019.0,30017.0,46099.000,72153.0
Rural_Urban_Continuum_Code_2013,3219.0,4.938490,2.724553,1.0,2.0,6.0,7.000,9.0
Urban_Influence_Code_2013,3219.0,5.189811,3.506942,1.0,2.0,5.0,8.000,12.0
Metro_2013,3224.0,0.382754,0.486135,0.0,0.0,0.0,1.000,1.0
Unemployment_rate_2000,3270.0,4.540581,2.042105,1.3,3.2,4.1,5.300,17.3
Unemployment_rate_2001,3270.0,5.233119,2.228461,1.6,3.8,4.8,6.100,18.6
Unemployment_rate_2002,3270.0,5.981193,2.344970,1.6,4.5,5.6,6.900,19.9
Unemployment_rate_2003,3270.0,6.226391,2.329511,1.9,4.7,5.8,7.300,20.2
Unemployment_rate_2004,3270.0,5.879235,2.114957,1.6,4.5,5.5,6.700,20.2
Unemployment_rate_2005,3263.0,5.671713,2.224239,2.0,4.2,5.2,6.500,21.0
Unemployment_rate_2006,3263.0,5.152253,2.101063,1.6,3.8,4.8,5.900,20.7
Unemployment_rate_2007,3270.0,5.106116,2.150555,1.4,3.7,4.7,5.900,20.2
Unemployment_rate_2008,3270.0,6.032722,2.415970,1.3,4.4,5.7,7.200,22.6
Unemployment_rate_2009,3270.0,9.285688,3.484467,2.0,6.9,8.9,11.200,28.3
Unemployment_rate_2010,3272.0,9.568185,3.490076,2.0,7.3,9.3,11.425,29.4
Unemployment_rate_2011,3272.0,8.909719,3.366212,1.4,6.7,8.6,10.600,29.3
Unemployment_rate_2012,3272.0,8.029004,3.169628,1.1,5.9,7.7,9.600,27.7
Unemployment_rate_2013,3272.0,7.580134,3.131038,1.2,5.5,7.2,9.000,27.4
Unemployment_rate_2014,3272.0,6.473869,2.866920,1.2,4.7,6.1,7.600,26.4
Unemployment_rate_2015,3272.0,5.728759,2.459258,1.8,4.2,5.3,6.600,24.6
Unemployment_rate_2016,3272.0,5.427078,2.353035,1.6,4.0,5.0,6.200,24.2
Unemployment_rate_2017,3272.0,4.788661,2.166696,1.5,3.5,4.4,5.400,20.6
Unemployment_rate_2018,3272.0,4.273319,1.868245,1.2,3.1,3.9,4.900,18.8
Unemployment_rate_2019,3272.0,4.099328,1.780749,0.8,3.0,3.7,4.700,20.7
Unemployment_rate_2020,3194.0,6.775485,2.317718,1.6,5.3,6.6,8.100,22.6
Unemployment_rate_2021,3273.0,4.758478,1.853382,0.9,3.5,4.5,5.600,19.5
Unemployment_rate_2022,3273.0,3.677269,1.363705,0.6,2.7,3.4,4.300,14.7
Med_HH_Income_Percent_of_State_Total_2021,3193.0,89.538146,19.638529,38.4,76.4,87.3,100.000,246.9

In [101]:
unemployment_df.describe(include='object').T

                             count unique                   top freq
State                         3277     53                    TX  255
Area_Name                     3277   3276  District of Columbia    2
Civilian_labor_force_2000     3270   3136                 2,986    3
Employed_2000                 3270   3128                 3,902    3
Unemployed_2000               3270   1749                    57   10
Civilian_labor_force_2001     3270   3127                16,954    3
Employed_2001                 3270   3118                 2,447    3
Unemployed_2001               3270   1891                   196   11
Civilian_labor_force_2002     3270   3141                 5,677    4
Employed_2002                 3270   3123                 4,353    3
Unemployed_2002               3270   1993                    42    8
Civilian_labor_force_2003     3270   3137                 3,909    3
Employed_2003                 3270   3141                 3,290    4
Unemployed_2003               3270   1994                    51    8
Civilian_labor_force_2004     3270   3143                 4,406    3
Employed_2004                 3270   3129                 2,496    3
Unemployed_2004               3270   1980                    65    9
Civilian_labor_force_2005     3263   3136                 8,640    3
Employed_2005                 3263   3136                 4,235    3
Unemployed_2005               3263   1966                   289   10
Civilian_labor_force_2006     3263   3138                 4,836    3
Employed_2006                 3263   3121                 7,084    3
Unemployed_2006               3263   1914                   169   11
Civilian_labor_force_2007     3270   3117                 3,961    3
Employed_2007                 3270   3136                 3,240    3
Unemployed_2007               3270   1889                    75    9
Civilian_labor_force_2008     3270   3145                 5,449    4
Employed_2008                 3270   3115                 1,721    4
Unemployed_2008               3270   2040                    49    8
Civilian_labor_force_2009     3270   3147                 4,641    3
Employed_2009                 3270   3122                 7,297    3
Unemployed_2009               3270   2317                    57    9
Civilian_labor_force_2010     3272   3125                 2,955    3
Employed_2010                 3272   3119                 6,920    3
Unemployed_2010               3272   2327                   782    7
Civilian_labor_force_2011     3272   3129                 2,109    3
Employed_2011                 3272   3130                 3,269    3
Unemployed_2011               3272   2283                   456    7
Civilian_labor_force_2012     3272   3141                 9,678    3
Employed_2012                 3272   3116                 4,025    3
Unemployed_2012               3272   2211                    54    8
Civilian_labor_force_2013     3272   3121                 5,056    3
Employed_2013                 3272   3127                 1,199    3
Unemployed_2013               3272   2188                    37    8
Civilian_labor_force_2014     3272   3140                 8,077    3
Employed_2014                 3272   3130                 3,346    3
Unemployed_2014               3272   2027                    39    9
Civilian_labor_force_2015     3272   3118                 2,746    3
Employed_2015                 3272   3138                 1,283    4
Unemployed_2015               3272   1935                    29    9
Civilian_labor_force_2016     3272   3131                 4,643    4
Employed_2016                 3272   3141                 5,089    3
Unemployed_2016               3272   1929                    40    9
Civilian_labor_force_2017     3272   3133                 2,848    3
Employed_2017                 3272   3136                 7,597    4
Unemployed_2017               3272   1825                   366    9
Civilian_labor_force_2018     3272   3131                 1,665    3
Employed_2018                 3272   3140                 4,102    3
Unemployed_2018               3272   1767                    82   11
Civilian_labor_force_2019     3272   3133                 3,560    3
Employed_2019                 3272   3120                 4,721    4
Unemployed_2019               3272   1717                   140   11
Civilian_labor_force_2020     3194   3061                 3,548    3
Employed_2020                 3194   3034                 6,684    4
Unemployed_2020               3194   2044                   195    8
Civilian_labor_force_2021     3273   3137                 2,954    3
Employed_2021                 3273   3143                 3,528    3
Unemployed_2021               3273   1814                   126   10
Civilian_labor_force_2022     3273   3143                 3,960    3
Employed_2022                 3273   3131                 4,592    3
Unemployed_2022               3273   1642                    23   12
Median_Household_Income_2021  3194   3087                66,697    3

## **Data Cleanup and Preparation**

* Delete row whose 'State' is US --> delete 1 row
* Delete rows whose 'State' is Port Rico --> delete 79 rows

In [102]:
# Remove US, 1 row and Port Rico, 79 rows
unemployment_df = unemployment_df[(unemployment_df['State'] != "PR") & (unemployment_df['State'] != "US")].reset_index(drop=True)

* Delete unemployment-related columns before 2014

In [103]:
# Create a list of column names for 2013 and earlier
years_to_delete = [str(year) for year in range(2000, 2014)]
cols_to_delete = [col for col in unemployment_df.columns[6:].to_list() if col[-4:] in years_to_delete]

In [104]:
# Remove 56 unemployment-related columns for 2013 and earlier
unemployment_df.drop(cols_to_delete, axis=1, inplace=True)

In [105]:
# Check the shape of the df
unemployment_df.shape

(3197, 44)

* Remove ',' and convert from string to float data type

In [106]:
# Convert the datatype from object to float
object_columns = unemployment_df.select_dtypes(include=['object']).columns
# Remove 'State' and 'Area_Name'
object_columns = object_columns[2:]

In [107]:
# Remove "," to convert string to number
for col in object_columns:
    unemployment_df[col] = unemployment_df[col].str.replace(",", "")

unemployment_df[object_columns] = unemployment_df[object_columns].astype(float)

* Create a variable 'is_state' --> If 'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 'Metro_2013' are all null, it's a state
* Create 'county' by removing " County" and " Parish", and the state abbrebiation from "Area_name": Ex. Autauga County, AL --> Autauga
* "Area_Name" in Alaska contains many area names ('Census Area', 'Borough', Borough/municipality, 'city/Census Area', 'city/Borough') --> Keep as is
* Delete 'Area_Name'

In [108]:
# Remove the state from Area_Name
county = []
for i in range(len(unemployment_df)):
    state = unemployment_df.loc[i, 'State']
    area = unemployment_df.loc[i, 'Area_Name'].split(f", {state}")[0]
    county.append(area)

In [109]:
# Create state flag
cols = ['Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 'Metro_2013']
is_state = unemployment_df[cols].isna().all(axis=1)
unemployment_df['is_state'] = is_state

# Extract only county
unemployment_df['county'] = county
unemployment_df['county'] = unemployment_df['county'].str.replace(" County", "")
unemployment_df['county'] = unemployment_df['county'].str.replace(" Parish", "")

# Drop 'Area_Name'
unemployment_df.drop(['Area_Name'], axis=1, inplace=True)

* Change the column order starts from 'State', 'county', and 'is_county'

In [110]:
# Chnage column order
cols2 = unemployment_df.columns
cols2 = cols2[2:-2] # from 'Rural_Urban_Continuum_Code_2013' to 'Med_HH_Income_Percent_of_State_Total_2021'
cols1 = ['FIPS_Code', 'State', 'county', 'is_state']
cols1.extend(cols2) 
unemployment_df = unemployment_df[cols1]

## **Missing Value Analysis**

* 51 state rows
* State rows all nulls in 'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 'Metro_2013'

In [111]:
# Check null values at the state level
state_unemployment_df = unemployment_df[unemployment_df['is_state']]
num_state_rows = len(state_unemployment_df)
cols_w_missing_values = state_unemployment_df.columns[state_unemployment_df.isna().sum() > 0].values
print(f"THe number of state rows: {num_state_rows}")
print(f"Columns have null: {cols_w_missing_values}")
print()
print("These columns have all null values:")
print(state_unemployment_df[cols_w_missing_values].isna().all())
print()
# Verify there is no missing values in other columns
cols_wo_missing_values = list(set(state_unemployment_df.columns).difference(set(cols_w_missing_values)))
num_missing_values = state_unemployment_df[cols_wo_missing_values].isna().any().sum()
print(f"Number of null in other columns: {num_missing_values}")

THe number of state rows: 51
Columns have null: ['Rural_Urban_Continuum_Code_2013' 'Urban_Influence_Code_2013'
 'Metro_2013']

These columns have all null values:
Rural_Urban_Continuum_Code_2013    True
Urban_Influence_Code_2013          True
Metro_2013                         True
dtype: bool

Number of null in other columns: 0

* 'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 'Metro_2013' --> -1.0

In [112]:
# Impute 'Rural_Urban_Continuum_Code_2013' and 'Urban_Influence_Code_2013'
cols_rural_urban_metro = ['Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013', 'Metro_2013']
idx = (unemployment_df['is_state']) & (unemployment_df.isna().sum(axis=1)>0)
unemployment_df.loc[idx, cols_rural_urban_metro] = -1.0

In [113]:
# Check null values at the State level
unemployment_df[unemployment_df['is_state']].isna().sum().sum()

0

In [114]:
# Check null at the county level
num_missing_rows = len(unemployment_df[~(unemployment_df['is_state']) & (unemployment_df.isna().sum(axis=1)>0)])
print(f"Number of missing rows: {num_missing_rows}")

unemployment_df[~(unemployment_df['is_state']) & (unemployment_df.isna().sum(axis=1)>0)]

Number of missing rows: 6

,FIPS_Code,State,county,is_state,Rural_Urban_Continuum_Code_2013,Urban_Influence_Code_2013,Metro_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022,Median_Household_Income_2021,Med_HH_Income_Percent_of_State_Total_2021
74,2063,AK,Chugach Census Area,False,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3256.0,2973.0,283.0,8.7,3179.0,3100.0,79.0,2.5,3387.0,3290.0,97.0,2.9,88029.0,112.2
75,2066,AK,Copper River Census Area,False,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1293.0,1154.0,139.0,10.8,1246.0,1205.0,41.0,3.3,1405.0,1275.0,130.0,9.3,61288.0,78.1
93,2201,AK,Prince of Wales-Outer Ketchikan Census Area,False,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2232,AK,Skagway-Hoonah-Angoon Census Area,False,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2261,AK,Valdez-Cordova Census Area,False,9.0,11.0,0.0,4865.0,4404.0,461.0,9.5,4864.0,4456.0,408.0,8.4,4802.0,4406.0,396.0,8.2,4870.0,4518.0,352.0,7.2,4863.0,4533.0,330.0,6.8,4871.0,4533.0,338.0,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2280,AK,Wrangell-Petersburg Census Area,False,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
cols_rural_urban = ['Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013']
cols_unemployment = unemployment_df.columns[7:] # columns after 'Metro_2013'

* 'Rural_Urban_Continuum_Code_2013', 'Urban_Influence_Code_2013' --> -1.0

In [116]:
# Impute 'Rural_Urban_Continuum_Code_2013' and 'Urban_Influence_Code_2013'
idx = (unemployment_df['State'] == 'AK') & ~(unemployment_df['is_state']) & (unemployment_df[cols_rural_urban].isna().sum(axis=1)>0)
unemployment_df.loc[idx, cols_rural_urban] = -1.0

* Unemployment-related features will be imputed with 0

In [117]:
# Impute 'Rural_Urban_Continuum_Code_2013' and 'Urban_Influence_Code_2013'
idx = (unemployment_df['State'] == 'AK') & ~(unemployment_df['is_state']) & (unemployment_df[cols_unemployment].isna().sum(axis=1)>0)
unemployment_df.loc[idx, cols_unemployment] = 0

In [121]:
# Check if there is NaN
unemployment_df.isna().sum().sum()

0

## **Save the Dataframe as CSV**

In [91]:
file = os.path.join(processed_data_directory, 'cleaned_UnemploymentMedianIncome.csv')
unemployment_df.to_csv(file, index=False)

## **Verify cleaned_UnemploymentMedianIncome.csv**

In [92]:
file = os.path.join(processed_data_directory, 'cleaned_UnemploymentMedianIncome.csv')
unemployment_df = pd.read_csv(file)
unemployment_df.head()

,FIPS_Code,State,county,is_state,Rural_Urban_Continuum_Code_2013,Urban_Influence_Code_2013,Metro_2013,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Civilian_labor_force_2021,Employed_2021,Unemployed_2021,Unemployment_rate_2021,Civilian_labor_force_2022,Employed_2022,Unemployed_2022,Unemployment_rate_2022,Median_Household_Income_2021,Med_HH_Income_Percent_of_State_Total_2021
0,1000,AL,Alabama,True,-1.0,-1.0,-1.0,2164715.0,2018705.0,146010.0,6.7,2152295.0,2020443.0,131852.0,6.1,2155729.0,2029157.0,126572.0,5.9,2203458.0,2103873.0,99585.0,4.5,2240109.0,2152270.0,87839.0,3.9,2272935.0,2200437.0,72498.0,3.2,2269672.0,2124409.0,145263.0,6.4,2259349.0,2183330.0,76019.0,3.4,2286028.0,2226670.0,59358.0,2.6,53990.0,100.0
1,1001,AL,Autauga,False,2.0,2.0,1.0,25639.0,24150.0,1489.0,5.8,25541.0,24206.0,1335.0,5.2,25710.0,24395.0,1315.0,5.1,26269.0,25224.0,1045.0,4.0,26471.0,25515.0,956.0,3.6,26696.0,25927.0,769.0,2.9,26425.0,25023.0,1402.0,5.3,26545.0,25809.0,736.0,2.8,26789.0,26181.0,608.0,2.3,66444.0,123.1
2,1003,AL,Baldwin,False,3.0,2.0,1.0,86546.0,81265.0,5281.0,6.1,87493.0,82619.0,4874.0,5.6,89778.0,84972.0,4806.0,5.4,93152.0,89286.0,3866.0,4.2,96235.0,92734.0,3501.0,3.6,98965.0,96069.0,2896.0,2.9,98979.0,92893.0,6086.0,6.1,99953.0,97034.0,2919.0,2.9,102849.0,100432.0,2417.0,2.4,65658.0,121.6
3,1005,AL,Barbour,False,6.0,6.0,0.0,8859.0,7930.0,929.0,10.5,8590.0,7823.0,767.0,8.9,8334.0,7638.0,696.0,8.4,8415.0,7914.0,501.0,6.0,8505.0,8068.0,437.0,5.1,8641.0,8294.0,347.0,4.0,8684.0,8017.0,667.0,7.7,8280.0,7821.0,459.0,5.5,8241.0,7906.0,335.0,4.1,38649.0,71.6
4,1007,AL,Bibb,False,1.0,1.0,1.0,8573.0,7959.0,614.0,7.2,8552.0,7983.0,569.0,6.7,8539.0,7986.0,553.0,6.5,8648.0,8261.0,387.0,4.5,8697.0,8351.0,346.0,4.0,8777.0,8491.0,286.0,3.3,8717.0,8085.0,632.0,7.3,8641.0,8347.0,294.0,3.4,8726.0,8507.0,219.0,2.5,48454.0,89.7